USE [master]
GO
/****** Object:  Database [website]    Script Date: 1/1/2022 21:39:17 ******/
CREATE DATABASE [website]
use website;
go;

CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Battery]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Battery](
	[BatteryId] [int] IDENTITY(1,1) NOT NULL,
	[Capacity] [int] NOT NULL,
	[Type] [nvarchar](max) NULL,
	[Technology] [nvarchar](max) NULL,
	[Charge] [nvarchar](max) NULL,
 CONSTRAINT [PK_Battery] PRIMARY KEY CLUSTERED 
(
	[BatteryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calendar]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendar](
	[CarlendarId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Classname] [nvarchar](max) NULL,
	[DayStart] [datetime2](7) NOT NULL,
	[DayEnd] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Calendar] PRIMARY KEY CLUSTERED 
(
	[CarlendarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Camera]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Camera](
	[CamId] [int] IDENTITY(1,1) NOT NULL,
	[Webcam] [nvarchar](max) NULL,
	[FCamRes] [nvarchar](max) NULL,
	[BCamRes] [nvarchar](max) NULL,
	[Flash] [nvarchar](max) NULL,
	[Video] [nvarchar](max) NULL,
	[Special] [nvarchar](max) NULL,
 CONSTRAINT [PK_Camera] PRIMARY KEY CLUSTERED 
(
	[CamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[ParentCategoryId] [int] NULL,
	[CategoryName] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Active] [nvarchar](max) NULL,
	[Picture] [nvarchar](max) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Connection]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Connection](
	[ConnId] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](max) NULL,
	[WirelessCard] [nvarchar](max) NULL,
	[Special] [nvarchar](max) NULL,
	[Sim] [nvarchar](max) NULL,
	[Wifi] [nvarchar](max) NULL,
	[GPS] [nvarchar](max) NULL,
	[Blutooth] [nvarchar](max) NULL,
	[Other] [nvarchar](max) NULL,
	[PhoneJack] [nvarchar](max) NULL,
 CONSTRAINT [PK_Connection] PRIMARY KEY CLUSTERED 
(
	[ConnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Content]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Content](
	[ContentId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Contents] [nvarchar](max) NULL,
	[DateRealease] [datetime2](7) NOT NULL,
	[Author] [nvarchar](max) NULL,
	[Special] [nvarchar](max) NULL,
 CONSTRAINT [PK_Content] PRIMARY KEY CLUSTERED 
(
	[ContentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[ShipAddress] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[Latitude] [nvarchar](max) NULL,
	[Longitude] [nvarchar](max) NULL,
	[DateEntered] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chats]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chats](
	[id] [nvarchar](450) NOT NULL,
	[Type] [int] NULL,
	[Name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatUsers]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatUsers](
	[ChatId] [nvarchar](450) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Role] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ChatId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[DiscountId] [int] IDENTITY(1,1) NOT NULL,
	[Condition] [nvarchar](max) NULL,
	[DateRealse] [datetime2](7) NOT NULL,
	[DateEnd] [datetime2](7) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[DiscountMoney] [float] NOT NULL,
	[DiscountAvailable] [int] NOT NULL,
 CONSTRAINT [PK_Discount] PRIMARY KEY CLUSTERED 
(
	[DiscountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Rank] [nvarchar](max) NULL,
	[Comment] [nvarchar](max) NULL,
	[Rate] [int] NOT NULL,
	[FeedbackDay] [datetime2](7) NOT NULL,
	[isShow] [bit] NULL,
	[userid] [nvarchar](max) NULL,
	[repid] [int] NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Graphic]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Graphic](
	[GraphicId] [int] IDENTITY(1,1) NOT NULL,
	[NameGPU] [nvarchar](max) NULL,
	[GPUType] [nvarchar](max) NULL,
	[GPUMemory] [nvarchar](max) NULL,
	[Core] [nvarchar](max) NULL,
 CONSTRAINT [PK_Graphic] PRIMARY KEY CLUSTERED 
(
	[GraphicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gift]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gift](
	[GiftId] [int] IDENTITY(1,1) NOT NULL,
	[DiscountId] [int] NOT NULL,
	[GiftName] [nvarchar](max) NULL,
	[GiftAvailable] [int] NOT NULL,
	[GiftAmount] [int] NOT NULL,
	[GiftImgage] [nvarchar](max) NULL,
 CONSTRAINT [PK_Gift] PRIMARY KEY CLUSTERED 
(
	[GiftId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[URL] [nvarchar](max) NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invent_Product]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invent_Product](
	[ProductId] [int] NOT NULL,
	[InventoryId] [int] NOT NULL,
	[ProductAvailable] [int] NOT NULL,
 CONSTRAINT [PK_Invent_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[InventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[InventoryId] [int] IDENTITY(1,1) NOT NULL,
	[TotalAmount] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Adress] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[Latitude] [nvarchar](max) NULL,
	[Longitude] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Inventory] PRIMARY KEY CLUSTERED 
(
	[InventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[text] [nvarchar](255) NULL,
	[Timestamp] [datetime2](7) NULL,
	[ChatId] [nvarchar](450) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentId] [int] NOT NULL,
	[ShipperId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[OTP] [nvarchar](max) NULL,
	[OrderDay] [datetime2](7) NOT NULL,
	[Freight] [float] NOT NULL,
	[ShipDate] [datetime2](7) NOT NULL,
	[VoucherMoney] [float] NOT NULL,
	[Errlog] [nvarchar](max) NULL,
	[Errmsg] [nvarchar](max) NULL,
	[Deleted] [bit] NOT NULL,
	[Paid] [float] NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
	[TransactStatus] [nvarchar](max) NULL,
	[TransactionNo] [nvarchar](max) NULL,
	[ResponseCode] [nvarchar](max) NULL,
	[SecureHash] [nvarchar](max) NULL,
	[Voucher] [nvarchar](max) NULL,
	[InventoryId] [int] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Status] [nvarchar](max) NULL,
	[Price] [float] NOT NULL,
	[IDSKU] [nvarchar](max) NULL,
	[Discount] [float] NOT NULL,
	[Total] [float] NOT NULL,
	[Fulfilled] [bit] NOT NULL,
	[Voucher] [nvarchar](max) NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OS]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OS](
	[OsId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Version] [nvarchar](max) NULL,
 CONSTRAINT [PK_OS] PRIMARY KEY CLUSTERED 
(
	[OsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentType] [nvarchar](max) NULL,
	[Allowed] [bit] NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Processor]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Processor](
	[CpuId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Genth] [nvarchar](max) NULL,
	[Core] [int] NOT NULL,
	[Thread] [int] NOT NULL,
	[BaseSpeed] [float] NOT NULL,
	[MaxSpeed] [float] NOT NULL,
	[Cache] [float] NOT NULL,
 CONSTRAINT [PK_Processor] PRIMARY KEY CLUSTERED 
(
	[CpuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ProductName] [nvarchar](max) NULL,
	[UnitPrice] [float] NOT NULL,
	[View] [int] NOT NULL,
	[Picture] [nvarchar](max) NULL,
	[RawPrice] [float] NOT NULL,
	[ProductDetail] [nvarchar](max) NULL,
	[MSRP] [float] NOT NULL,
	[Version] [nvarchar](max) NULL,
	[Color] [nvarchar](max) NULL,
	[UnitInOrder] [int] NOT NULL,
	[ReorderLevel] [int] NOT NULL,
	[CurrentOrder] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Special] [nvarchar](max) NULL,
	[IsDelete] [bit] NOT NULL,
	[ConnID] [int] NOT NULL,
	[ScreenID] [int] NOT NULL,
	[StructID] [int] NOT NULL,
	[SoundID] [int] NOT NULL,
	[GraphicID] [int] NOT NULL,
	[BatteryID] [int] NOT NULL,
	[RamID] [int] NOT NULL,
	[OSID] [int] NOT NULL,
	[CamID] [int] NOT NULL,
	[CPUID] [int] NOT NULL,
	[RomID] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductContent]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductContent](
	[ProductId] [int] NOT NULL,
	[ContentId] [int] NOT NULL,
 CONSTRAINT [PK_ProductContent] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[ContentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDiscount]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDiscount](
	[ProductId] [int] NOT NULL,
	[DiscountId] [int] NOT NULL,
 CONSTRAINT [PK_ProductDiscount] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[DiscountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase](
	[PurchaseId] [int] IDENTITY(1,1) NOT NULL,
	[StaffId] [int] NOT NULL,
	[SupplierId] [int] NOT NULL,
	[PurchaseDay] [datetime2](7) NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
	[TransactStatus] [nvarchar](max) NULL,
	[TransactionNo] [nvarchar](max) NULL,
	[ResponseCode] [nvarchar](max) NULL,
	[SecureHash] [nvarchar](max) NULL,
	[Paid] [float] NOT NULL,
	[DateReiceive] [datetime2](7) NOT NULL,
	[InventoryId] [int] NULL,
 CONSTRAINT [PK_Purchase] PRIMARY KEY CLUSTERED 
(
	[PurchaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseDetail]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseDetail](
	[PurchaseId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Status] [nvarchar](max) NULL,
	[Price] [float] NOT NULL,
	[IDSKU] [nvarchar](max) NULL,
	[Total] [float] NOT NULL,
 CONSTRAINT [PK_PurchaseDetail] PRIMARY KEY CLUSTERED 
(
	[PurchaseId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ram]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ram](
	[RamId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Capacity] [float] NOT NULL,
	[MaxRam] [float] NOT NULL,
	[Speed] [float] NOT NULL,
	[Type] [nvarchar](max) NULL,
	[Slots] [int] NOT NULL,
 CONSTRAINT [PK_Ram] PRIMARY KEY CLUSTERED 
(
	[RamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleClaims]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_RoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rom]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rom](
	[RomId] [int] IDENTITY(1,1) NOT NULL,
	[Capacity] [int] NOT NULL,
	[MaxRom] [int] NOT NULL,
	[Type] [nvarchar](max) NULL,
 CONSTRAINT [PK_Rom] PRIMARY KEY CLUSTERED 
(
	[RomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Screen]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Screen](
	[ScreenId] [int] IDENTITY(1,1) NOT NULL,
	[Resolution] [nvarchar](max) NULL,
	[Size] [nvarchar](max) NULL,
	[HZ] [nvarchar](max) NULL,
	[MaxBright] [nvarchar](max) NULL,
	[Special] [nvarchar](max) NULL,
	[Technology] [nvarchar](max) NULL,
 CONSTRAINT [PK_Screen] PRIMARY KEY CLUSTERED 
(
	[ScreenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipment]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipment](
	[ShipperId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
 CONSTRAINT [PK_Shipment] PRIMARY KEY CLUSTERED 
(
	[ShipperId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sound]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sound](
	[SoundId] [int] IDENTITY(1,1) NOT NULL,
	[Technology] [nvarchar](max) NULL,
 CONSTRAINT [PK_Sound] PRIMARY KEY CLUSTERED 
(
	[SoundId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[WorkingDay] [datetime2](7) NOT NULL,
	[InventoryId] [int] NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Structure]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Structure](
	[StructId] [int] IDENTITY(1,1) NOT NULL,
	[Wide] [float] NOT NULL,
	[Weight] [float] NOT NULL,
	[High] [float] NOT NULL,
	[Long] [float] NOT NULL,
	[Martirial] [nvarchar](max) NULL,
	[Design] [nvarchar](max) NULL,
 CONSTRAINT [PK_Structure] PRIMARY KEY CLUSTERED 
(
	[StructId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
	[ContactName] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[URL] [nvarchar](max) NULL,
	[TypeGoods] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserClaims]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogins]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_UserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[Birthday] [datetime2](7) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTokens]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[VoucherID] [int] IDENTITY(1,1) NOT NULL,
	[VoucherName] [nvarchar](max) NULL,
	[VoucherDetail] [nvarchar](max) NULL,
	[Code] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[loaigiam] [int] NULL,
	[number] [int] NULL,
	[sotientoida] [int] NULL,
 CONSTRAINT [PK_Voucher] PRIMARY KEY CLUSTERED 
(
	[VoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher_Details]    Script Date: 1/1/2022 21:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher_Details](
	[CustomerID] [int] NOT NULL,
	[VoucherID] [int] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_Voucher_Details] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC,
	[VoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211109162029_addInit', N'6.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211116100509_addInit', N'6.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211124152756_addInit', N'6.0.0')
GO
SET IDENTITY_INSERT [dbo].[Battery] ON 

INSERT [dbo].[Battery] ([BatteryId], [Capacity], [Type], [Technology], [Charge]) VALUES (1, 1, N'1', N'1', N'1')
INSERT [dbo].[Battery] ([BatteryId], [Capacity], [Type], [Technology], [Charge]) VALUES (2, 1821, N'Li-Ion', N'<li>Sạc không dây</li>
<li>Sạc pin nhanh</li>
<li>Tiết kiệm pin</li>', N'18')
INSERT [dbo].[Battery] ([BatteryId], [Capacity], [Type], [Technology], [Charge]) VALUES (3, 2942, N'Li-Ion', N'<li>Sạc không dây</li>
<li>Sạc pin nhanh</li>
<li>Tiết kiệm pin</li>', N'15')
SET IDENTITY_INSERT [dbo].[Battery] OFF
GO
SET IDENTITY_INSERT [dbo].[Camera] ON 

INSERT [dbo].[Camera] ([CamId], [Webcam], [FCamRes], [BCamRes], [Flash], [Video], [Special]) VALUES (1, N'1', N'1', N'1', N'1', N'1', N'1')
SET IDENTITY_INSERT [dbo].[Camera] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [ParentCategoryId], [CategoryName], [Description], [Active], [Picture]) VALUES (1, NULL, N'Điện thoại', NULL, N'1', NULL)
INSERT [dbo].[Category] ([CategoryId], [ParentCategoryId], [CategoryName], [Description], [Active], [Picture]) VALUES (2, NULL, N'Laptop', NULL, N'1', NULL)
INSERT [dbo].[Category] ([CategoryId], [ParentCategoryId], [CategoryName], [Description], [Active], [Picture]) VALUES (3, NULL, N'Tablet', NULL, N'1', NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Connection] ON 

INSERT [dbo].[Connection] ([ConnId], [Type], [WirelessCard], [Special], [Sim], [Wifi], [GPS], [Blutooth], [Other], [PhoneJack]) VALUES (1, N'1', N'1', N'1', N'1', N'1', N'1', N'1', N'1', N'1')
INSERT [dbo].[Connection] ([ConnId], [Type], [WirelessCard], [Special], [Sim], [Wifi], [GPS], [Blutooth], [Other], [PhoneJack]) VALUES (2, NULL, N'Hỗ trợ 4G', NULL, N'1 Nano SIM & 1 eSIM', N'<li>Dual-band (2.4 GHz/5 GHz)</li>
<li>Wi-Fi 802.11 a/b/g/n/ac/ax</li>
<li>Wi-Fi hotspot</li>', N'GPS, GLONASS', N'<li>A2DP</li>
<li>LE</li>
<li>v5.0</li>', N'OTG', N'
Lightning')
INSERT [dbo].[Connection] ([ConnId], [Type], [WirelessCard], [Special], [Sim], [Wifi], [GPS], [Blutooth], [Other], [PhoneJack]) VALUES (3, NULL, N'Hỗ trợ 4G', NULL, N'1 Nano SIM & 1 eSIM', N'<li>Dual-band (2.4 GHz/5 GHz)</li>', N'GPS, GLONASS', N'<li>A2DP</li>
<li>LE</li>
<li>v5.0</li>', N'NFC', N'
Lightning')
SET IDENTITY_INSERT [dbo].[Connection] OFF
GO
SET IDENTITY_INSERT [dbo].[Content] ON 

SET IDENTITY_INSERT [dbo].[Content] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [UserId], [ShipAddress], [City], [State], [Latitude], [Longitude], [DateEntered]) VALUES (1, N'522d167a-d7bd-4ae4-900d-66dc51a4a512', N'số nhà 44, đường hmm', N'TP Hồ Chí Minh', N'Quận 1', N'10.7748455', N'106.6993497', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Customer] ([CustomerID], [UserId], [ShipAddress], [City], [State], [Latitude], [Longitude], [DateEntered]) VALUES (5, N'c8645eb1-21ea-4cfa-9ba3-b006ce88bf37', N'HCMC', NULL, NULL, NULL, NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Customer] ([CustomerID], [UserId], [ShipAddress], [City], [State], [Latitude], [Longitude], [DateEntered]) VALUES (6, N'2dce353e-d35d-4efe-bf66-c83d9ede4f6a', N'Buôn Ma Không Thuộc Bài', NULL, NULL, NULL, NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Discount] ON 

INSERT [dbo].[Discount] ([DiscountId], [Condition], [DateRealse], [DateEnd], [Title], [Detail], [DiscountMoney], [DiscountAvailable]) VALUES (1, N'mua sản phẩm', CAST(N'2021-11-19T00:00:00.0000000' AS DateTime2), CAST(N'2222-12-30T00:00:00.0000000' AS DateTime2), N'tặng kèm balo', N'khi mua hàng tặng khuyến mãi', 0, 999)
SET IDENTITY_INSERT [dbo].[Discount] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackId], [ProductId], [Rank], [Comment], [Rate], [FeedbackDay], [isShow], [userid], [repid]) VALUES (1036, 4, N'toandang', N'2131231', 5, CAST(N'2021-12-31T09:57:14.2380821' AS DateTime2), 1, N'522d167a-d7bd-4ae4-900d-66dc51a4a512', 0)
INSERT [dbo].[Feedback] ([FeedbackId], [ProductId], [Rank], [Comment], [Rate], [FeedbackDay], [isShow], [userid], [repid]) VALUES (1037, 4, N'toandang', N'123123', 4, CAST(N'2021-12-31T09:59:58.1075354' AS DateTime2), 1, N'522d167a-d7bd-4ae4-900d-66dc51a4a512', 0)
INSERT [dbo].[Feedback] ([FeedbackId], [ProductId], [Rank], [Comment], [Rate], [FeedbackDay], [isShow], [userid], [repid]) VALUES (1038, 4, N'meo', N'asdads', 0, CAST(N'2021-12-31T11:49:07.8514280' AS DateTime2), 1, N'522d167a-d7bd-4ae4-900d-66dc51a4a512', 1037)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Graphic] ON 

INSERT [dbo].[Graphic] ([GraphicId], [NameGPU], [GPUType], [GPUMemory], [Core]) VALUES (1, N'1', N'1', N'1', N'1')
INSERT [dbo].[Graphic] ([GraphicId], [NameGPU], [GPUType], [GPUMemory], [Core]) VALUES (2, N'
Apple GPU ', NULL, NULL, N'4')
INSERT [dbo].[Graphic] ([GraphicId], [NameGPU], [GPUType], [GPUMemory], [Core]) VALUES (3, N'
Apple GPU ', NULL, NULL, N'5')
SET IDENTITY_INSERT [dbo].[Graphic] OFF
GO
SET IDENTITY_INSERT [dbo].[Gift] ON 

INSERT [dbo].[Gift] ([GiftId], [DiscountId], [GiftName], [GiftAvailable], [GiftAmount], [GiftImgage]) VALUES (1, 1, N'balo', 999, 999, NULL)
SET IDENTITY_INSERT [dbo].[Gift] OFF
GO
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([ImageId], [ProductId], [URL]) VALUES (1, 276, N'https://bn1305files.storage.live.com/y4mN0eZWiDeQKIjpAvsoD69_XYHzL4Gze9DLh0987h3PDOs39-0fPLILnbaaHQBJb9VZvSbQZ0UpZPf7KF0Wetp8wr9OP--N2oo0YLaeJnGJLb1AUdVCHG6EIXH4XhROYbNxUVshLvoeRj-mTWpF8JuhNnwvPsSknBbRe-c_8UFzFBTugISc5snMkYoihGkuHcH?width=600&height=400&cropmode=none')
INSERT [dbo].[Image] ([ImageId], [ProductId], [URL]) VALUES (2, 276, N'https://bn1305files.storage.live.com/y4m9g89Ryo_hLrDkjg_E5YpokjznyvDqP0LUaDC1jah1sWQAeqPniI5p25BlhrCSZkCYouOs4vf-JG_RSRelH-2BLE9ByLzFmJysOmbO_XioyBjmV8rYP1QUbvdgGAPreFw25cVHUVVv8qWhxTirsRgWZgeZzNVYQV1G2UWGVKHsYVUfqT7GCfCPHso5POUuZKp?width=600&height=400&cropmode=none')
INSERT [dbo].[Image] ([ImageId], [ProductId], [URL]) VALUES (3, 278, N'https://bn1305files.storage.live.com/y4mNT0avnARxYPJx6ew2pNZpSJzjw5Mcxuu7hdQYS47LeAxSb9ZLTCH7-MXVnN1dQtFG5NJY34jmReUGlW3r7tiUOVBQkhPXkhwP-tb8AkSMUvW9jidmePYW75gSLex9hDBlj2dvWUFHu_HI4XTo_3snVwp_lzxJpcK3I_B7AV1e6Yg78D5shfEEqbMYLt3yNUT?width=600&height=400&cropmode=none')
SET IDENTITY_INSERT [dbo].[Image] OFF
GO
INSERT [dbo].[Invent_Product] ([ProductId], [InventoryId], [ProductAvailable]) VALUES (4, 1, 40)
INSERT [dbo].[Invent_Product] ([ProductId], [InventoryId], [ProductAvailable]) VALUES (4, 10, 60)
INSERT [dbo].[Invent_Product] ([ProductId], [InventoryId], [ProductAvailable]) VALUES (4, 17, 60)
GO
SET IDENTITY_INSERT [dbo].[Inventory] ON 

INSERT [dbo].[Inventory] ([InventoryId], [TotalAmount], [Name], [Adress], [City], [State], [Latitude], [Longitude], [IsActive]) VALUES (1, 0, N'Kho Quận 1', N'2B Nguyễn Thị Minh Khai, Đa Kao, Quận 1', N'TPHCM', N'Quận 1', N'10.788660', N'106.701900', 1)
INSERT [dbo].[Inventory] ([InventoryId], [TotalAmount], [Name], [Adress], [City], [State], [Latitude], [Longitude], [IsActive]) VALUES (10, 0, N'Kho Cầu Giấy', N'QFQ+V9X, P. Phạm Văn Bạch, Yên Hoà, Quận Cầu Giấy', N'Hà Nội', N'Quận Cầu Giấy', N'21.024711', N'105.789257', 1)
INSERT [dbo].[Inventory] ([InventoryId], [TotalAmount], [Name], [Adress], [City], [State], [Latitude], [Longitude], [IsActive]) VALUES (17, 0, N'Kho Thanh Khê', N'59 Đ. Hà Xuân 1, Chính Gián, Quận Thanh Khê', N'Đà Nẵng', N'Thanh Khê', N'16.068851', N'108.196146', 1)
SET IDENTITY_INSERT [dbo].[Inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [PaymentId], [ShipperId], [CustomerId], [OTP], [OrderDay], [Freight], [ShipDate], [VoucherMoney], [Errlog], [Errmsg], [Deleted], [Paid], [PaymentDate], [TransactStatus], [TransactionNo], [ResponseCode], [SecureHash], [Voucher], [InventoryId]) VALUES (2033, 1, 1, 1, NULL, CAST(N'2021-12-31T23:34:40.4413609' AS DateTime2), 0, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0, NULL, NULL, 0, 49980000, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'done', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Order] ([OrderId], [PaymentId], [ShipperId], [CustomerId], [OTP], [OrderDay], [Freight], [ShipDate], [VoucherMoney], [Errlog], [Errmsg], [Deleted], [Paid], [PaymentDate], [TransactStatus], [TransactionNo], [ResponseCode], [SecureHash], [Voucher], [InventoryId]) VALUES (2034, 1, 1, 1, NULL, CAST(N'2022-01-01T07:25:34.7387546' AS DateTime2), 0, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0, NULL, NULL, 0, 35980000, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'accept', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Order] ([OrderId], [PaymentId], [ShipperId], [CustomerId], [OTP], [OrderDay], [Freight], [ShipDate], [VoucherMoney], [Errlog], [Errmsg], [Deleted], [Paid], [PaymentDate], [TransactStatus], [TransactionNo], [ResponseCode], [SecureHash], [Voucher], [InventoryId]) VALUES (2035, 4, 1, 1, N'123456', CAST(N'2022-01-01T11:25:03.5515072' AS DateTime2), 0, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0, NULL, NULL, 0, 13780000, CAST(N'2022-01-01T11:25:38.9236847' AS DateTime2), N'paid', N'13665662', N'00', N'05acd48879aa59135f13bda6e52e1d70c2c0f370d9f261c688f1121b9de9391f', NULL, 1)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[OrderDetail] ([OrderId], [ProductId], [Quantity], [Status], [Price], [IDSKU], [Discount], [Total], [Fulfilled], [Voucher]) VALUES (2033, 123, 2, N'solved', 24990000, NULL, 0, 49980000, 0, NULL)
INSERT [dbo].[OrderDetail] ([OrderId], [ProductId], [Quantity], [Status], [Price], [IDSKU], [Discount], [Total], [Fulfilled], [Voucher]) VALUES (2034, 31, 2, N'solved', 17990000, NULL, 0, 35980000, 0, NULL)
INSERT [dbo].[OrderDetail] ([OrderId], [ProductId], [Quantity], [Status], [Price], [IDSKU], [Discount], [Total], [Fulfilled], [Voucher]) VALUES (2035, 5, 1, N'solved', 11990000, NULL, 0, 11990000, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[OS] ON 

INSERT [dbo].[OS] ([OsId], [Name], [Version]) VALUES (1, N'1', N'1')
INSERT [dbo].[OS] ([OsId], [Name], [Version]) VALUES (2, N'iOS', N'14')
INSERT [dbo].[OS] ([OsId], [Name], [Version]) VALUES (3, N'iOS', N'15')
SET IDENTITY_INSERT [dbo].[OS] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentId], [PaymentType], [Allowed]) VALUES (1, N'Tiền mặt', 1)
INSERT [dbo].[Payment] ([PaymentId], [PaymentType], [Allowed]) VALUES (2, N'Zerone Xu', 0)
INSERT [dbo].[Payment] ([PaymentId], [PaymentType], [Allowed]) VALUES (3, N'MoMo', 1)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Processor] ON 

INSERT [dbo].[Processor] ([CpuId], [Name], [Genth], [Core], [Thread], [BaseSpeed], [MaxSpeed], [Cache]) VALUES (1, N'1', N'1', 1, 1, 1, 1, 1)
INSERT [dbo].[Processor] ([CpuId], [Name], [Genth], [Core], [Thread], [BaseSpeed], [MaxSpeed], [Cache]) VALUES (2, N'
Apple A13 Bionic', N'13', 6, 0, 1.8, 2.65, 0)
INSERT [dbo].[Processor] ([CpuId], [Name], [Genth], [Core], [Thread], [BaseSpeed], [MaxSpeed], [Cache]) VALUES (5, N'
Apple A12 Bionic', N'12', 6, 0, 1.6, 2.5, 0)
SET IDENTITY_INSERT [dbo].[Processor] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[ProductContent] ([ProductId], [ContentId]) VALUES (147, 5)
INSERT [dbo].[ProductContent] ([ProductId], [ContentId]) VALUES (148, 5)
INSERT [dbo].[ProductContent] ([ProductId], [ContentId]) VALUES (149, 5)
GO
SET IDENTITY_INSERT [dbo].[Purchase] ON 

INSERT [dbo].[Purchase] ([PurchaseId], [StaffId], [SupplierId], [PurchaseDay], [PaymentDate], [TransactStatus], [TransactionNo], [ResponseCode], [SecureHash], [Paid], [DateReiceive], [InventoryId]) VALUES (5, 1, 2, CAST(N'2022-01-01T04:16:15.0730916' AS DateTime2), CAST(N'2022-01-01T04:34:34.9735383' AS DateTime2), N'done', NULL, NULL, NULL, 1000, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[Purchase] ([PurchaseId], [StaffId], [SupplierId], [PurchaseDay], [PaymentDate], [TransactStatus], [TransactionNo], [ResponseCode], [SecureHash], [Paid], [DateReiceive], [InventoryId]) VALUES (6, 1, 2, CAST(N'2022-01-01T04:39:15.7146750' AS DateTime2), CAST(N'2022-01-01T04:39:28.2980011' AS DateTime2), N'done', NULL, NULL, NULL, 1000, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 10)
INSERT [dbo].[Purchase] ([PurchaseId], [StaffId], [SupplierId], [PurchaseDay], [PaymentDate], [TransactStatus], [TransactionNo], [ResponseCode], [SecureHash], [Paid], [DateReiceive], [InventoryId]) VALUES (7, 1, 2, CAST(N'2022-01-01T04:41:11.1990676' AS DateTime2), CAST(N'2022-01-01T04:41:21.2399699' AS DateTime2), N'done', NULL, NULL, NULL, 1000, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 10)
SET IDENTITY_INSERT [dbo].[Purchase] OFF
GO
INSERT [dbo].[PurchaseDetail] ([PurchaseId], [ProductId], [Quantity], [Status], [Price], [IDSKU], [Total]) VALUES (5, 4, 10, N'received', 100, NULL, 1000)
INSERT [dbo].[PurchaseDetail] ([PurchaseId], [ProductId], [Quantity], [Status], [Price], [IDSKU], [Total]) VALUES (6, 4, 10, N'received', 100, NULL, 1000)
INSERT [dbo].[PurchaseDetail] ([PurchaseId], [ProductId], [Quantity], [Status], [Price], [IDSKU], [Total]) VALUES (7, 7, 10, N'received', 100, NULL, 1000)
GO
SET IDENTITY_INSERT [dbo].[Ram] ON 

INSERT [dbo].[Ram] ([RamId], [Name], [Capacity], [MaxRam], [Speed], [Type], [Slots]) VALUES (1, N'DDR4', 2, 2, 2400, N'DDR4', 1)
INSERT [dbo].[Ram] ([RamId], [Name], [Capacity], [MaxRam], [Speed], [Type], [Slots]) VALUES (2, N'DDR4', 3, 3, 2400, N'DDR4', 1)
INSERT [dbo].[Ram] ([RamId], [Name], [Capacity], [MaxRam], [Speed], [Type], [Slots]) VALUES (3, N'DDR4', 4, 4, 2400, N'DDR4', 1)
SET IDENTITY_INSERT [dbo].[Ram] OFF
GO
INSERT [dbo].[Roles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'497534b6-da62-4c24-980b-ec991791fcb9', N'Nhân viên', N'NHÂN VIÊN', N'f315ba91-4cf8-4f28-a131-30e0dd050cd9')
INSERT [dbo].[Roles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'5fcfd12d-cf14-40e0-b047-6fed97cf8714', N'Admin', N'ADMIN', N'fbc848d0-1e7d-427a-98cf-f5fb5cbfe05e')
GO
SET IDENTITY_INSERT [dbo].[Rom] ON 

INSERT [dbo].[Rom] ([RomId], [Capacity], [MaxRom], [Type]) VALUES (1, 32, 32, N'SSD')
INSERT [dbo].[Rom] ([RomId], [Capacity], [MaxRom], [Type]) VALUES (2, 64, 64, N'SSD')
INSERT [dbo].[Rom] ([RomId], [Capacity], [MaxRom], [Type]) VALUES (3, 128, 128, N'SSD')
SET IDENTITY_INSERT [dbo].[Rom] OFF
GO
SET IDENTITY_INSERT [dbo].[Screen] ON 

INSERT [dbo].[Screen] ([ScreenId], [Resolution], [Size], [HZ], [MaxBright], [Special], [Technology]) VALUES (1, N'1', N'1', N'1', N'1', N'1', N'1')
INSERT [dbo].[Screen] ([ScreenId], [Resolution], [Size], [HZ], [MaxBright], [Special], [Technology]) VALUES (2, N'
HD (750 x 1334 Pixels)', N'4.7', N'60', N'625', N'Kính cường lực Oleophobic (ion cường lực)', N'IPS LCD
')
INSERT [dbo].[Screen] ([ScreenId], [Resolution], [Size], [HZ], [MaxBright], [Special], [Technology]) VALUES (3, N'828 x 1792 Pixels', N'6.1', N'60', N'625', N'Kính cường lực Oleophobic (ion cường lực)', N'IPS LCD')
SET IDENTITY_INSERT [dbo].[Screen] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipment] ON 

INSERT [dbo].[Shipment] ([ShipperId], [CompanyName], [Phone]) VALUES (1, N'The Flash', N'1')
INSERT [dbo].[Shipment] ([ShipperId], [CompanyName], [Phone]) VALUES (2, N'Grab', N'123')
INSERT [dbo].[Shipment] ([ShipperId], [CompanyName], [Phone]) VALUES (3, N'Fast&Furious', N'123456')
SET IDENTITY_INSERT [dbo].[Shipment] OFF
GO
SET IDENTITY_INSERT [dbo].[Sound] ON 

INSERT [dbo].[Sound] ([SoundId], [Technology]) VALUES (1, N'1')
INSERT [dbo].[Sound] ([SoundId], [Technology]) VALUES (2, N'<li>AAC</li>
<li>AAC+</li>
<li>AAC++</li>
<li>eAAC+</li>
<li>FLAC</li>
<li>Lossless</li>
<li>Midi</li>
<li>MP3</li>
<li>WAV</li>
<li>WMA</li>
<li>WMA9</li>
')
INSERT [dbo].[Sound] ([SoundId], [Technology]) VALUES (3, N'<li>AAC</li>
<li>FLAC</li>
<li>Lossless</li>
<li>MP3</li>
<li>Âm thanh Dolby Audio</li>')
SET IDENTITY_INSERT [dbo].[Sound] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([StaffId], [UserId], [WorkingDay], [InventoryId]) VALUES (1, N'2e3228e4-4677-4041-8a04-cb63e4330829', CAST(N'2021-12-22T00:13:14.4228081' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[Structure] ON 

INSERT [dbo].[Structure] ([StructId], [Wide], [Weight], [High], [Long], [Martirial], [Design]) VALUES (1, 1, 1, 1, 1, N'1', N'1')
INSERT [dbo].[Structure] ([StructId], [Wide], [Weight], [High], [Long], [Martirial], [Design]) VALUES (2, 67.3, 148, 7.3, 138.4, N'Khung kim loại & Mặt lưng kính', N'
Nguyên khối')
INSERT [dbo].[Structure] ([StructId], [Wide], [Weight], [High], [Long], [Martirial], [Design]) VALUES (5, 75.7, 194, 8.3, 150.9, N'
Khung nhôm & Mặt lưng kính cường lực', N'Nguyên khối')
GO
SET IDENTITY_INSERT [dbo].[Structure] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([SupplierId], [CompanyName], [ContactName], [Address], [Phone], [Email], [URL], [TypeGoods], [Notes]) VALUES (2, N'Meow meow~', N'Dinh Độc Lập', N'Phường Bến Thành, Quận 1, Thành phố Hồ Chí Minh, Việt Nam', N'0329487988', N'meomeomeo@gmeo.com', N'meomeomeo', N'mèo', N'meo meo')
INSERT [dbo].[Supplier] ([SupplierId], [CompanyName], [ContactName], [Address], [Phone], [Email], [URL], [TypeGoods], [Notes]) VALUES (3, N'Apple', N'Apple', N'Cupertino, California, Hoa Kỳ', N'123', N'billgate@gmail.com', NULL, N'Phone, Laptop, Table', NULL)
INSERT [dbo].[Supplier] ([SupplierId], [CompanyName], [ContactName], [Address], [Phone], [Email], [URL], [TypeGoods], [Notes]) VALUES (4, N'MineCute_T', N'MCT', N'Home', N'0123456789', N'urmail@gmail.com', NULL, N'all product', NULL)
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
INSERT [dbo].[UserLogins] ([LoginProvider], [ProviderKey], [ProviderDisplayName], [UserId]) VALUES (N'Facebook', N'101531262343083', N'Facebook', N'4fa90112-3ddb-4b63-9040-cfd495b9c401')
INSERT [dbo].[UserLogins] ([LoginProvider], [ProviderKey], [ProviderDisplayName], [UserId]) VALUES (N'Google', N'108190705985546040109', N'Google', N'6805400f-16b9-4cfa-bc18-8209103b3953')
GO
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'2e3228e4-4677-4041-8a04-cb63e4330829', N'497534b6-da62-4c24-980b-ec991791fcb9')
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'5fdfdc14-473a-44e3-a350-f4aa9d428547', N'5fcfd12d-cf14-40e0-b047-6fed97cf8714')
GO
INSERT [dbo].[UserTokens] ([UserId], [LoginProvider], [Name], [Value]) VALUES (N'2dce353e-d35d-4efe-bf66-c83d9ede4f6a', N'[AspNetUserStore]', N'AuthenticatorKey', N'4SISCDTLABBCTEBMLKQUXMUIK6RTI4B3')
INSERT [dbo].[UserTokens] ([UserId], [LoginProvider], [Name], [Value]) VALUES (N'522d167a-d7bd-4ae4-900d-66dc51a4a512', N'[AspNetUserStore]', N'AuthenticatorKey', N'WTHSU3BDGGIV5ONDWUD6EIAAMMPSUR6U')
GO
SET IDENTITY_INSERT [dbo].[Voucher] ON 

INSERT [dbo].[Voucher] ([VoucherID], [VoucherName], [VoucherDetail], [Code], [IsActive], [loaigiam], [number], [sotientoida]) VALUES (2, N'siêu sale 11/11', N'100', 0, 0, 1, 1, 1)
INSERT [dbo].[Voucher] ([VoucherID], [VoucherName], [VoucherDetail], [Code], [IsActive], [loaigiam], [number], [sotientoida]) VALUES (3, N'siêu sale 11/11', N'1001', 0, 0, 4, 6, 8)
INSERT [dbo].[Voucher] ([VoucherID], [VoucherName], [VoucherDetail], [Code], [IsActive], [loaigiam], [number], [sotientoida]) VALUES (4, N'siêu sale 11/112', N'1001', 0, 0, 2, 123, 123)
SET IDENTITY_INSERT [dbo].[Voucher] OFF
GO
/****** Object:  Index [IX_Category_ParentCategoryId]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Category_ParentCategoryId] ON [dbo].[Category]
(
	[ParentCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customer_UserId]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Customer_UserId] ON [dbo].[Customer]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feedback_ProductId]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Feedback_ProductId] ON [dbo].[Feedback]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Gift_DiscountId]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Gift_DiscountId] ON [dbo].[Gift]
(
	[DiscountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Image_ProductId]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Image_ProductId] ON [dbo].[Image]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invent_Product_InventoryId]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Invent_Product_InventoryId] ON [dbo].[Invent_Product]
(
	[InventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_CustomerId]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Order_CustomerId] ON [dbo].[Order]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_PaymentId]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Order_PaymentId] ON [dbo].[Order]
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_ShipperId]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Order_ShipperId] ON [dbo].[Order]
(
	[ShipperId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetail_ProductId]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetail_ProductId] ON [dbo].[OrderDetail]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_BatteryID]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Product_BatteryID] ON [dbo].[Product]
(
	[BatteryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_CamID]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Product_CamID] ON [dbo].[Product]
(
	[CamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_CategoryId]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Product_CategoryId] ON [dbo].[Product]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_ConnID]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Product_ConnID] ON [dbo].[Product]
(
	[ConnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_CPUID]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Product_CPUID] ON [dbo].[Product]
(
	[CPUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_GraphicID]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Product_GraphicID] ON [dbo].[Product]
(
	[GraphicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_OSID]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Product_OSID] ON [dbo].[Product]
(
	[OSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_RamID]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Product_RamID] ON [dbo].[Product]
(
	[RamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_RomID]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Product_RomID] ON [dbo].[Product]
(
	[RomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_ScreenID]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Product_ScreenID] ON [dbo].[Product]
(
	[ScreenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_SoundID]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Product_SoundID] ON [dbo].[Product]
(
	[SoundID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_StructID]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Product_StructID] ON [dbo].[Product]
(
	[StructID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductContent_ContentId]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_ProductContent_ContentId] ON [dbo].[ProductContent]
(
	[ContentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductDiscount_DiscountId]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_ProductDiscount_DiscountId] ON [dbo].[ProductDiscount]
(
	[DiscountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Purchase_StaffId]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Purchase_StaffId] ON [dbo].[Purchase]
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Purchase_SupplierId]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Purchase_SupplierId] ON [dbo].[Purchase]
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PurchaseDetail_ProductId]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_PurchaseDetail_ProductId] ON [dbo].[PurchaseDetail]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleClaims_RoleId]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_RoleClaims_RoleId] ON [dbo].[RoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 1/1/2022 21:39:18 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[Roles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Staff_InventoryId]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Staff_InventoryId] ON [dbo].[Staff]
(
	[InventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Staff_UserId]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Staff_UserId] ON [dbo].[Staff]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserClaims_UserId]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_UserClaims_UserId] ON [dbo].[UserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserLogins_UserId]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_UserLogins_UserId] ON [dbo].[UserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserRoles_RoleId]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_RoleId] ON [dbo].[UserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[Users]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 1/1/2022 21:39:18 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[Users]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Voucher_Details_VoucherID]    Script Date: 1/1/2022 21:39:18 ******/
CREATE NONCLUSTERED INDEX [IX_Voucher_Details_VoucherID] ON [dbo].[Voucher_Details]
(
	[VoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Category_ParentCategoryId] FOREIGN KEY([ParentCategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_Category_ParentCategoryId]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Users_UserId]
GO
ALTER TABLE [dbo].[ChatUsers]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ChatUsers]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ChatUsers]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Product_ProductId]
GO
ALTER TABLE [dbo].[Gift]  WITH CHECK ADD  CONSTRAINT [FK_Gift_Discount_DiscountId] FOREIGN KEY([DiscountId])
REFERENCES [dbo].[Discount] ([DiscountId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Gift] CHECK CONSTRAINT [FK_Gift_Discount_DiscountId]
GO
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [FK_Image_Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [FK_Image_Product_ProductId]
GO
ALTER TABLE [dbo].[Invent_Product]  WITH CHECK ADD  CONSTRAINT [FK_Invent_Product_Inventory_InventoryId] FOREIGN KEY([InventoryId])
REFERENCES [dbo].[Inventory] ([InventoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Invent_Product] CHECK CONSTRAINT [FK_Invent_Product_Inventory_InventoryId]
GO
ALTER TABLE [dbo].[Invent_Product]  WITH CHECK ADD  CONSTRAINT [FK_Invent_Product_Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Invent_Product] CHECK CONSTRAINT [FK_Invent_Product_Product_ProductId]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([ChatId])
REFERENCES [dbo].[Chats] ([id])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([ChatId])
REFERENCES [dbo].[Chats] ([id])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer_CustomerId]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Payment_PaymentId] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[Payment] ([PaymentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Payment_PaymentId]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Shipment_ShipperId] FOREIGN KEY([ShipperId])
REFERENCES [dbo].[Shipment] ([ShipperId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Shipment_ShipperId]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order_OrderId]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product_ProductId]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Battery_BatteryID] FOREIGN KEY([BatteryID])
REFERENCES [dbo].[Battery] ([BatteryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Battery_BatteryID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Camera_CamID] FOREIGN KEY([CamID])
REFERENCES [dbo].[Camera] ([CamId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Camera_CamID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category_CategoryId]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Connection_ConnID] FOREIGN KEY([ConnID])
REFERENCES [dbo].[Connection] ([ConnId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Connection_ConnID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Graphic_GraphicID] FOREIGN KEY([GraphicID])
REFERENCES [dbo].[Graphic] ([GraphicId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Graphic_GraphicID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_OS_OSID] FOREIGN KEY([OSID])
REFERENCES [dbo].[OS] ([OsId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_OS_OSID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Processor_CPUID] FOREIGN KEY([CPUID])
REFERENCES [dbo].[Processor] ([CpuId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Processor_CPUID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Ram_RamID] FOREIGN KEY([RamID])
REFERENCES [dbo].[Ram] ([RamId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Ram_RamID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Rom_RomID] FOREIGN KEY([RomID])
REFERENCES [dbo].[Rom] ([RomId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Rom_RomID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Screen_ScreenID] FOREIGN KEY([ScreenID])
REFERENCES [dbo].[Screen] ([ScreenId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Screen_ScreenID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Sound_SoundID] FOREIGN KEY([SoundID])
REFERENCES [dbo].[Sound] ([SoundId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Sound_SoundID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Structure_StructID] FOREIGN KEY([StructID])
REFERENCES [dbo].[Structure] ([StructId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Structure_StructID]
GO
ALTER TABLE [dbo].[ProductContent]  WITH CHECK ADD  CONSTRAINT [FK_ProductContent_Content_ContentId] FOREIGN KEY([ContentId])
REFERENCES [dbo].[Content] ([ContentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductContent] CHECK CONSTRAINT [FK_ProductContent_Content_ContentId]
GO
ALTER TABLE [dbo].[ProductContent]  WITH CHECK ADD  CONSTRAINT [FK_ProductContent_Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductContent] CHECK CONSTRAINT [FK_ProductContent_Product_ProductId]
GO
ALTER TABLE [dbo].[ProductDiscount]  WITH CHECK ADD  CONSTRAINT [FK_ProductDiscount_Discount_DiscountId] FOREIGN KEY([DiscountId])
REFERENCES [dbo].[Discount] ([DiscountId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductDiscount] CHECK CONSTRAINT [FK_ProductDiscount_Discount_DiscountId]
GO
ALTER TABLE [dbo].[ProductDiscount]  WITH CHECK ADD  CONSTRAINT [FK_ProductDiscount_Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductDiscount] CHECK CONSTRAINT [FK_ProductDiscount_Product_ProductId]
GO
ALTER TABLE [dbo].[Purchase]  WITH CHECK ADD  CONSTRAINT [FK_Purchase_Staff_StaffId] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([StaffId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Purchase] CHECK CONSTRAINT [FK_Purchase_Staff_StaffId]
GO
ALTER TABLE [dbo].[Purchase]  WITH CHECK ADD  CONSTRAINT [FK_Purchase_Supplier_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([SupplierId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Purchase] CHECK CONSTRAINT [FK_Purchase_Supplier_SupplierId]
GO
ALTER TABLE [dbo].[PurchaseDetail]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseDetail_Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseDetail] CHECK CONSTRAINT [FK_PurchaseDetail_Product_ProductId]
GO
ALTER TABLE [dbo].[PurchaseDetail]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseDetail_Purchase_PurchaseId] FOREIGN KEY([PurchaseId])
REFERENCES [dbo].[Purchase] ([PurchaseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseDetail] CHECK CONSTRAINT [FK_PurchaseDetail_Purchase_PurchaseId]
GO
ALTER TABLE [dbo].[RoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_RoleClaims_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleClaims] CHECK CONSTRAINT [FK_RoleClaims_Roles_RoleId]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Inventory_InventoryId] FOREIGN KEY([InventoryId])
REFERENCES [dbo].[Inventory] ([InventoryId])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Inventory_InventoryId]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Users_UserId]
GO
ALTER TABLE [dbo].[UserClaims]  WITH CHECK ADD  CONSTRAINT [FK_UserClaims_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserClaims] CHECK CONSTRAINT [FK_UserClaims_Users_UserId]
GO
ALTER TABLE [dbo].[UserLogins]  WITH CHECK ADD  CONSTRAINT [FK_UserLogins_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserLogins] CHECK CONSTRAINT [FK_UserLogins_Users_UserId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
ALTER TABLE [dbo].[UserTokens]  WITH CHECK ADD  CONSTRAINT [FK_UserTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTokens] CHECK CONSTRAINT [FK_UserTokens_Users_UserId]
GO
ALTER TABLE [dbo].[Voucher_Details]  WITH CHECK ADD  CONSTRAINT [FK_Voucher_Details_Customer_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Voucher_Details] CHECK CONSTRAINT [FK_Voucher_Details_Customer_CustomerID]
GO
ALTER TABLE [dbo].[Voucher_Details]  WITH CHECK ADD  CONSTRAINT [FK_Voucher_Details_Voucher_VoucherID] FOREIGN KEY([VoucherID])
REFERENCES [dbo].[Voucher] ([VoucherID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Voucher_Details] CHECK CONSTRAINT [FK_Voucher_Details_Voucher_VoucherID]
GO

